.filter-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  .filter-btn{
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px;
    padding:15px;
    width: 200px;
    color: #fff;
    font-size: 18px;
    margin: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: linear 0.3s;
    background-color: transparent;
    &:hover{
      background-color: rgb(219, 84, 35);
    }
  }
}